<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	    <staticContent>
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>

        <!-- ==================== SECURITY HEADERS ==================== -->
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
                <add name="X-Frame-Options" value="SAMEORIGIN" />
            </customHeaders>
        </httpProtocol>
		
		<security>
			<requestFiltering>
				<requestLimits maxQueryString="32768"/>
			</requestFiltering>
		</security>
		
        <rewrite>
            <rules>
                <rule name="MsOfficeBypass" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_USER_AGENT}" pattern="word|excel|powerpoint|ms-office" />
                    </conditions>
                    <action type="CustomResponse" statusCode="200" />
                </rule>
                <rule name="LowerCaseURL" enabled="true" stopProcessing="true">
                    <match url="[A-Z]" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="{ToLower:{URL}}" />
                </rule>
                <rule name="CookieLink" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                    <match url="^(.*)(search|product|copyright|table|chart|map|release)\/(.*)?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="^(.*)(search|product|copyright|table|chart|map|release)\/(.*)?$" />
                    </conditions>
                    <serverVariables>
                        <!-- Removed 'secure' flag from cookie -->
                        <set name="HTTP_COOKIE" value="{C:2}={C:3}; path=/" />
                    </serverVariables>
                    <action type="Redirect" url="{C:1}" appendQueryString="true" logRewrittenUrl="false" redirectType="Found" />
                </rule>
            </rules>
            <outboundRules>
                <rule name="Hide Server Header">
                    <match serverVariable="RESPONSE_Server" pattern=".+" />
                    <action type="Rewrite" value="n/a" />
                </rule>
                <rule name="CookieLink" preCondition="RequestURI" stopProcessing="false">
                    <match serverVariable="RESPONSE_Set_Cookie" pattern="(.*)" />
                    <action type="Rewrite" value="{C:0}" />
                    <conditions>
                        <add input="{HTTP_COOKIE}" pattern="(search|product|copyright|table|chart|map|release)=(.*)" />
                    </conditions>
                </rule>
                <preConditions>
                    <preCondition name="RequestURI">
                        <add input="{REQUEST_URI}" pattern="^(.*)(search|product|copyright|table|chart|map|release)\/(.*)?$" />
                    </preCondition>
                </preConditions>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>